{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<body class="fea">
    

    
    <h1 class = "heading">About</h1>
    <p class="fea_para">
        With our platform, you can seamlessly track your daily expenses and income. 
        Our intuitive homepage allows you to add descriptions, amounts, and transaction types, 
        which are then beautifully displayed in an organized table on the transactions page. 
        This ensures you always have a clear view of your financial activities.
    </p>
    <p class="fea_para">
        Navigate to the report section to get a quick overview of your financial status, including total income, total expenses, and your net balance. 
        It's never been easier to understand your financial position at a glance.
    </p>
    <p class="fea_para">
        Our budgeting feature is tailored to help you plan for the future. 
        Set monthly budgets based on your needs and monitor them closely with our detailed budget table. 
        Stay on top of your goals and make informed financial decisions effortlessly.
    </p>
    <p class="fea_para">
        We are committed to providing a user-friendly and reliable solution to help you master your finances. 
        Join us on this journey towards better financial health and peace of mind.
    </p>

</body>

{% endblock %}