{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<body id="faqbody">
    <h2 class="h2faq">Frequently Asked Questions</h2>

    <div class = "pfaq">
        <h3>What is the Personal Finance Manager?</h3>
        <p>The Personal Finance Manager is an intuitive tool designed to help you track your expenses and income, set and manage budgets, and monitor your financial health with ease.</p>
    </div>

    <div class = "pfaq">
        <h3>How do I add a new transaction?</h3>
        <p>To add a new transaction, go to the homepage and enter the description, amount, and type of the transaction. Once submitted, it will automatically appear in the transactions table.</p>
    </div>

    <div class = "pfaq">
        <h3>Where can I view my transaction history?</h3>
        <p>Your transaction history is displayed on the transactions page. Here, you can see a detailed table of all your past transactions, sorted by date.</p>
    </div>

    <div class = "pfaq">
        <h3>How can I see my total income and expenses?</h3>
        <p>Head to the reports section. This page provides a comprehensive overview of your financial status, including total income, total expenses, and your net balance.</p>
    </div>

    <div class = "pfaq">
        <h3>Can I set a monthly budget?</h3>
        <p>Yes, you can! Navigate to the budgeting section to set your desired budget for the month. You can specify different budget categories and monitor them closely in the budget table.</p>
    </div>

    <div class = "pfaq">
        <h3>What happens when I exceed my budget?</h3>
        <p>If you exceed your budget, the budgeting section will highlight the overage, allowing you to see where adjustments may be needed.</p>
    </div>

    <div class = "pfaq">
        <h3>Is my financial data secure?</h3>
        <p>Absolutely. We prioritize your privacy and security, ensuring that your financial data is protected and accessible only to you.</p>
    </div>

    <div class = "pfaq">
        <h3>How do I reset all my transactions?</h3>
        <p>On the transactions page, there is a "Reset" button. Clicking this will delete all your current transactions, allowing you to start fresh.</p>
    </div>

    <div class = "pfaq">
        <h3>Can I use the Personal Finance Manager on mobile devices?</h3>
        <p>Yes, the Personal Finance Manager is designed to be responsive and works seamlessly on both desktop and mobile devices.</p>
    </div>

    <div class = "pfaq">
        <h3>Who can I contact for support?</h3>
        <p>If you have any questions or need assistance, please reach out to our support team via the contact form on our website.</p>
    </div>
</body>


{% endblock %}