{% extends "base.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
   
    <form action="/login" method="post" class="p-3 p-md-4 border rounded-3 bg-body-tertiary" style="max-width: 400px; margin: auto;">
        <div class="form-floating mb-3">
          <input autocomplete="off" id="floatingInput" autofocus class="form-control" name="username" placeholder="Username" type="text">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="floatingPassword" name="password" placeholder="Password" type="password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary su" type="submit">Login</button>
      </form>
      
      
{% endblock %}
